{% extends "deployment/deployer_base.html" %}

{% block deployer_form %}
    <div id="stackContainer" class="clearfix">
      <div class="titleContainer">
        <h3>请选择你要使用的服务</h3>
      </div>

    {% verbatim %}
    <% _.each(projects, function(project) { %>
      <div class="stack_block">
        <div class="imageContainer">
          <img src="/static/img/stack/<%= project.project_logo %>" alt="<%= project.name %>">
        </div>
        <div class="textContainer">
          <span><%= project.name %></span>
        </div>
      </div>
    <% }); %>
    {% endverbatim %}
    </div>

{% endblock deployer_form %}

